<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manage your entire vehicle inventory, classifications, and details efficiently. Easily add, update, and organize cars, trucks, and SUVs for your dealership or collection.">
    <meta name="keywords" content="Chamber of Commerce, United Africa Business Organisation">
    <meta name="author" content="Cwinya Moses">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
