<header id="header">
    <div class="header-content">
        <div id="csemotors">
        <a href="/" title="Home" class="site-logo">CSE Motors</a>
        </div>
        <div id="tools">
            <% if (locals.loggedin && locals.accountData) { %>
                <!-- Welcome Basic Link (Task 1) -->
                <a href="/account/" title="Manage your account" class="welcome-link">
                    Welcome <%= locals.accountData.account_firstname %>
                </a>
                <!-- Logout Link (Task 1) -->
                <a href="/account/logout" title="Click to log out">Logout</a>
            <% } else { %>
                <!-- My Account Link (Task 1) -->
                <a href="/account/login" title="Click to log in">My Account</a>
            <% } %>
        </div>
    </div>
</header>

<!-- Styles are assumed to be handled by a separate CSS file -->