<h1>Welcome to CSE Motors!</h1>
<section class="dmc-delorean">
    <img src="../images/vehicles/delorean-tn.jpg" alt="Delorean-tn" width="50" height="auto"/>
    <div class="dmc">
        <h2>DMC Delorean</h2>
        <p>3 Cups holder</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <span id="own">Own Today</span>
    </div>
</section>

<section class="cse-motors">

    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <ul>
                <li>"So0 fast it's almost like travelling in time." <br/>(4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." <br/> (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </ul>
    </div>

    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades-grid">
            <figure>
                <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitors"/>
                <a href="#"><figcaption>Flux Capacitor</figcaption></a>
            </figure>
            <figure>
                <img src="../images/upgrades/flame.jpg" alt="Flame Decals"/>
                <a href="#"><figcaption>Flame Decals</figcaption></a>
            </figure>
            <figure>
                <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"/>
                <a href="#"><figcaption>Bumper Stickers</figcaption></a>
            </figure>
            <figure>
                <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps"/>
                <a href="#"><figcaption>Hub Caps</figcaption></a>
            </figure>
        </div>
    </div>
</section>