/******************************CHANGE BOX MODEL***************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


/*********************************BODY*************************************/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  color: #333;
  border: 3px solid dodgerblue;
  text-align: center;
}


/**********************************HEADER**********************************/
#top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  grid-gap: 2rem;
  background-color:#f4f4f4;
}
#top-header a {
  text-decoration: none;
  font: 2rem bolder ;
  color: black;
}


/************************************NAVIGATION****************************/
nav {
  background-color: #333;
  color: #f4f4f4;
  padding: 5px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav li:hover {
  background-color: #575757;
}

/***********************************MAIN BODY*******************************/
h2 {
  color: #4CAF50;
}
.dmc-delorean {
  position: relative;
  padding: 5px 0;
}
.dmc {
  position: absolute;
  background-color: aliceblue;
  color: dodgerblue;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  height: auto;
  opacity: 0.9;
  top: 0;
}
.dmc h2 {
  color: dodgerblue;
  font-size: 1rem;
}
#own {
  background-color: dodgerblue;
  color: black;
  font-weight: bolder;
  padding: 10px 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}
.dmc-delorean img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Section 2 Styles */
.cse-motors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* .reviews ul {
  margin: 0;
  padding: 0 0 0 10px;
} */
.upgrades h2 {
  margin-bottom: 1rem;
}
.upgrades-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
figure {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: dodgerblue;
  border: 1px solid black;
}
figcaption {
  margin-top: 10px;
  font-weight: bold;
  color: black;
  background-color: transparent;
}


/************************************FOOTER*************************************/
footer {
  color:#333;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}
footer p {
  margin: 0;
}
/******* Responsive Design ***************/
@media only screen and (min-width: 33rem) {
  /* #wrapper {
  max-width: 900px;
  } */
  .cse-motors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .25rem;
  }
  .dmc {
    font-size: 2rem;
  }
  .dmc h2 {
    font-size: 2rem;
  }
  #own {
    font-size: 1.5rem;
    padding: 10px 40px;
  }
}