<h1 class="main-content-heading"><%= title %></h1>

<%- messages() %>

<h2>Use the links below to manage classifications and inventory items.</h2>

<div class="management-links">
<!-- Link to Task 2 process -->
<a href="/inv/add-classification" class="btn-primary">Add New Classification</a>

<!-- Link to Task 3 process -->
<a href="/inv/add-inventory" class="btn-primary">Add New Inventory Item</a>


</div>